# Data Science Tools and Ecosystem

**Objectives:**
- Create a Jupyter Notebook
- Create markdown cell with title of the notebook
- List popular languages for Data Science
- Create a code cell to multiply and add numbers

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Sql
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy

|Data Science Tools|
|-| 
|Anaconda|
|R Studio|
|JupyterLab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
x_mins = 200
x_hrs = x_mins/60
print(x_hrs)

3.3333333333333335

## Author
Hussain Tom MUHAMMAD